* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.85);
    border-bottom: 2px solid rgba(122, 162, 247, 0.5);
    color: #a9b1d6;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #a9b1d6;
}

#workspaces button:hover {
    background: rgba(122, 162, 247, 0.2);
    color: #7aa2f7;
}

#workspaces button.active {
    background-color: #7aa2f7;
    color: #1a1b26;
}

#clock,
#cpu,
#memory,
#network,
#battery,
#tray {
    padding: 0 10px;
    color: #a9b1d6;
}

#clock {
    font-weight: bold;
    color: #7aa2f7;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    color: #f7768e;
}
